In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('dataa.csv')

In [ ]:
df.sample(5)

,Unnamed: 0,Disbdate,loanpurpose,client_no_of_dependent,ClientGender,marital_status,totalincome,loanexp,saving,totalexp,financeamt,period,emi,Interest,riskfund,irr,firstdateofinst,credit_status,equifax_score_retail,borrower_history,coborrower_history,new_to_credit,borrower_outstanding,dpd,lastpaiddate,last_month_paid,loan_end_date,total_emi_amt,total_emi_paid,outstanding_amt
7554,6E881CBD-F4BA-4203-AC2F-E61C1BC067E4,2022-04-18 00:00:00.000,Tailoring Business,5.0,M,Married,29000,10516,14484,14516,30000,12,3000,35.070,528,0.029229,2022-06-02 00:00:00.000,2023-05-02 00:00:00.000,652.0,NaN,NaN,0,261000.0,30,2023-05-24 20:23:00.000,2023-05-24,2023-05-02,36000,37800.0,-1800.0
10512,2955D9C9-1664-458B-9724-F72A8E6A24CC,2022-09-14 00:00:00.000,General Store Business,11.0,M,Married,27000,6690,15810,11190,30000,12,3100,41.703,528,0.033380,2022-11-02 00:00:00.000,2023-10-02 00:00:00.000,-1.0,NaN,NaN,1,0.0,1,2023-10-03 15:54:00.000,2023-10-03,2023-10-02,37200,37200.0,0.0
18234,02895E8D-C25A-4A94-A0EC-8BE6A81DB5DF,2022-10-23 00:00:00.000,Cow Rearing Business,NaN,M,Unmarried,33750,4300,17450,16300,30000,12,3100,41.703,528,0.033380,2022-12-02 00:00:00.000,2023-11-02 00:00:00.000,-1.0,NaN,NaN,1,0.0,8,2023-10-02 11:08:00.000,2023-10-02,2023-11-02,37200,34100.0,3100.0
9334,3BB067CF-8908-4DCB-B37B-442713724FB1,2022-09-17 00:00:00.000,Tailoring Business,5.0,M,Unmarried,29000,5640,19360,9640,30000,12,3100,41.703,528,0.033380,2022-11-02 00:00:00.000,2023-10-02 00:00:00.000,748.0,NaN,NaN,0,12780.0,9,2023-09-28 17:17:00.000,2023-09-28,2023-10-02,37200,40300.0,-3100.0
11422,588F9859-2694-4454-BFC5-1F504518BD06,2022-10-29 00:00:00.000,Tailoring Business,NaN,M,Unmarried,27500,10090,11410,16090,30000,12,3100,41.703,528,0.033380,2022-12-02 00:00:00.000,2023-11-02 00:00:00.000,-1.0,NaN,NaN,1,0.0,38,2023-10-11 09:41:00.000,2023-10-11,2023-11-02,37200,29500.0,7700.0

In [ ]:
df.columns

Index(['Unnamed: 0', 'Disbdate', 'loanpurpose', 'client_no_of_dependent',
       'ClientGender', 'marital_status', 'totalincome', 'loanexp', 'saving',
       'totalexp', 'financeamt', 'period', 'emi', 'Interest', 'riskfund',
       'irr', 'firstdateofinst', 'credit_status', 'equifax_score_retail',
       'borrower_history', 'coborrower_history', 'new_to_credit',
       'borrower_outstanding', 'dpd', 'lastpaiddate', 'last_month_paid',
       'loan_end_date', 'total_emi_amt', 'total_emi_paid', 'outstanding_amt'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22725 entries, 0 to 22724
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              22725 non-null  object
 1   Disbdate                22725 non-null  object
 2   loanpurpose             22725 non-null  object
 3   client_no_of_dependent  16752 non-null  float64
 4   ClientGender            22725 non-null  object
 5   marital_status          22725 non-null  object
 6   totalincome             22725 non-null  int64
 7   loanexp                 22725 non-null  int64
 8   saving                  22725 non-null  int64
 9   totalexp                22725 non-null  int64
 10  financeamt              22725 non-null  int64
 11  period                  22725 non-null  int64
 12  emi                     22725 non-null  int64
 13  Interest                22725 non-null  float64
 14  riskfund                22725 non-null  int64
 15  irr                     22725 non-null  float64
 16  firstdateofinst         22725 non-null  object
 17  credit_status           22725 non-null  object
 18  equifax_score_retail    18360 non-null  float64
 19  borrower_history        0 non-null      float64
 20  coborrower_history      0 non-null      float64
 21  new_to_credit           22725 non-null  int64
 22  borrower_outstanding    22371 non-null  float64
 23  dpd                     22725 non-null  int64
 24  lastpaiddate            22672 non-null  object
 25  last_month_paid         22672 non-null  object
 26  loan_end_date           22725 non-null  object
 27  total_emi_amt           22725 non-null  int64
 28  total_emi_paid          22672 non-null  float64
 29  outstanding_amt         22672 non-null  float64
dtypes: float64(9), int64(11), object(10)
memory usage: 5.2+ MB

In [ ]:
df.drop('borrower_history',axis=1,inplace=True)

In [ ]:
df.drop('coborrower_history',axis=1,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22725 entries, 0 to 22724
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              22725 non-null  object
 1   Disbdate                22725 non-null  object
 2   loanpurpose             22725 non-null  object
 3   client_no_of_dependent  16752 non-null  float64
 4   ClientGender            22725 non-null  object
 5   marital_status          22725 non-null  object
 6   totalincome             22725 non-null  int64
 7   loanexp                 22725 non-null  int64
 8   saving                  22725 non-null  int64
 9   totalexp                22725 non-null  int64
 10  financeamt              22725 non-null  int64
 11  period                  22725 non-null  int64
 12  emi                     22725 non-null  int64
 13  Interest                22725 non-null  float64
 14  riskfund                22725 non-null  int64
 15  irr                     22725 non-null  float64
 16  firstdateofinst         22725 non-null  object
 17  credit_status           22725 non-null  object
 18  equifax_score_retail    18360 non-null  float64
 19  new_to_credit           22725 non-null  int64
 20  borrower_outstanding    22371 non-null  float64
 21  dpd                     22725 non-null  int64
 22  lastpaiddate            22672 non-null  object
 23  last_month_paid         22672 non-null  object
 24  loan_end_date           22725 non-null  object
 25  total_emi_amt           22725 non-null  int64
 26  total_emi_paid          22672 non-null  float64
 27  outstanding_amt         22672 non-null  float64
dtypes: float64(7), int64(11), object(10)
memory usage: 4.9+ MB

In [ ]:
df['client_no_of_dependent'].unique()

array([ 2., 11.,  4.,  1.,  6.,  9.,  3.,  5.,  8.,  7., 10., nan,  0.])

In [ ]:
print('% of null values in no of dependents ',(df['client_no_of_dependent'].isna().sum()/df.shape[0])*100)

% of null values in no of dependents  26.28382838283828

In [ ]:
df[df['client_no_of_dependent'].isna()].head()

,Unnamed: 0,Disbdate,loanpurpose,client_no_of_dependent,ClientGender,marital_status,totalincome,loanexp,saving,totalexp,financeamt,period,emi,Interest,riskfund,irr,firstdateofinst,credit_status,equifax_score_retail,new_to_credit,borrower_outstanding,dpd,lastpaiddate,last_month_paid,loan_end_date,total_emi_amt,total_emi_paid,outstanding_amt
1314,72D5E4A7-0F95-44A1-9DCB-B3F0D1110BC5,2021-03-11 00:00:00.000,Tailoring Business,NaN,M,Unmarried,57000,7677,44323,12677,40000,18,3000,40.0,939,0.0,2021-05-02 00:00:00.000,2022-10-02 00:00:00.000,NaN,1,0.0,152,2021-08-25 16:35:00.000,2021-08-25,2022-10-02,54000,4500.0,49500.0
1470,C2E3ADD8-B5B5-4D52-8811-6CF131DB8FFA,2021-03-12 00:00:00.000,Cow Rearing Business,NaN,M,Unmarried,50000,5151,39849,10151,50000,25,3000,40.0,1761,0.0,2021-05-02 00:00:00.000,2023-05-02 00:00:00.000,NaN,1,-30000.0,183,NaN,NaN,2023-05-02,75000,NaN,NaN
1474,FB6D9ED8-002E-4814-8E66-6BD489DCE3ED,2021-03-22 00:00:00.000,Bag Business,NaN,M,Unmarried,30000,9064,10336,19664,65000,27,3400,30.0,0,0.0,2021-05-02 00:00:00.000,2023-07-02 00:00:00.000,NaN,1,0.0,183,2021-03-29 00:00:00.000,2021-03-29,2023-07-02,91800,2005.0,89795.0
1835,1D29F441-3671-4EF6-AE77-76C5E57582CA,2021-03-04 00:00:00.000,Tailoring Business,NaN,M,Unmarried,61000,8500,50000,11000,30000,12,3000,30.0,0,0.0,2021-04-02 00:00:00.000,2022-03-02 00:00:00.000,736.0,0,7550.0,122,2021-04-21 13:33:00.000,2021-04-21,2022-03-02,36000,10950.0,25050.0
2000,B6EEA11E-3405-4077-BB9A-953278D4A224,2021-02-26 00:00:00.000,Tailoring Business,NaN,M,Unmarried,17000,0,0,2200,45000,22,3000,40.0,1056,0.0,2021-03-02 00:00:00.000,2022-12-02 00:00:00.000,NaN,1,-30000.0,526,2022-10-11 08:34:00.000,2022-10-11,2023-01-02,66000,40612.0,25388.0

In [ ]:
df[df['client_no_of_dependent'].isna()].groupby(['marital_status']).size()

marital_status
Married         8
Unmarried    5965
dtype: int64

In [ ]:
df.groupby(['marital_status'])['client_no_of_dependent'].apply(lambda x:x.mode().values)

marital_status
Married      [5.0]
Unmarried    [5.0]
Name: client_no_of_dependent, dtype: object

In [ ]:
df.groupby(['marital_status'])['client_no_of_dependent'].median()

marital_status
Married      5.0
Unmarried    4.0
Name: client_no_of_dependent, dtype: float64

In [ ]:
df.groupby(['marital_status','client_no_of_dependent']).size()

marital_status  client_no_of_dependent
Married         0.0                         62
                1.0                        365
                2.0                        906
                3.0                       1916
                4.0                       2454
                5.0                       3790
                6.0                       2217
                7.0                        652
                8.0                        250
                9.0                        175
                10.0                       101
                11.0                       515
Unmarried       0.0                         75
                1.0                        362
                2.0                        183
                3.0                        493
                4.0                        607
                5.0                        818
                6.0                        592
                7.0                        100
                8.0                         33
                9.0                         30
                10.0                        13
                11.0                        43
dtype: int64

In [ ]:
df['client_no_of_dependent'].fillna(df['client_no_of_dependent'].median(),inplace=True)

In [ ]:
df['client_no_of_dependent'].unique()

array([ 2., 11.,  4.,  1.,  6.,  9.,  3.,  5.,  8.,  7., 10.,  0.])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22725 entries, 0 to 22724
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              22725 non-null  object
 1   Disbdate                22725 non-null  object
 2   loanpurpose             22725 non-null  object
 3   client_no_of_dependent  22725 non-null  float64
 4   ClientGender            22725 non-null  object
 5   marital_status          22725 non-null  object
 6   totalincome             22725 non-null  int64
 7   loanexp                 22725 non-null  int64
 8   saving                  22725 non-null  int64
 9   totalexp                22725 non-null  int64
 10  financeamt              22725 non-null  int64
 11  period                  22725 non-null  int64
 12  emi                     22725 non-null  int64
 13  Interest                22725 non-null  float64
 14  riskfund                22725 non-null  int64
 15  irr                     22725 non-null  float64
 16  firstdateofinst         22725 non-null  object
 17  credit_status           22725 non-null  object
 18  equifax_score_retail    18360 non-null  float64
 19  new_to_credit           22725 non-null  int64
 20  borrower_outstanding    22371 non-null  float64
 21  dpd                     22725 non-null  int64
 22  lastpaiddate            22672 non-null  object
 23  last_month_paid         22672 non-null  object
 24  loan_end_date           22725 non-null  object
 25  total_emi_amt           22725 non-null  int64
 26  total_emi_paid          22672 non-null  float64
 27  outstanding_amt         22672 non-null  float64
dtypes: float64(7), int64(11), object(10)
memory usage: 4.9+ MB

In [ ]:
df[df['equifax_score_retail'].isna()]['new_to_credit'].sample(5)

7962    1
6500    1
5415    1
1671    1
5702    1
Name: new_to_credit, dtype: int64

In [ ]:
df['equifax_score_retail'].isna().sum()

4365

In [ ]:
df[(df['equifax_score_retail'].isna())&(df['new_to_credit'].isin ([0,1]))]['new_to_credit'].sum()

4214

In [ ]:
df['new_to_credit'].unique()

array([0, 1])

In [ ]:
df['new_to_credit'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 22725 entries, 0 to 22724
Series name: new_to_credit
Non-Null Count  Dtype
--------------  -----
22725 non-null  int64
dtypes: int64(1)
memory usage: 177.7 KB

In [ ]:
df[(df['equifax_score_retail'].isna())&(df['new_to_credit'].isna())].shape[0]

0

In [ ]:
df[(df['equifax_score_retail'].isna())&(df['new_to_credit']==0)].shape[0]

151

In [ ]:
df.drop(df[(df['equifax_score_retail'].isna()) & (df['new_to_credit'] == 0)].index, inplace=True)

In [ ]:
df.shape

(22574, 28)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22574 entries, 0 to 22724
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              22574 non-null  object
 1   Disbdate                22574 non-null  object
 2   loanpurpose             22574 non-null  object
 3   client_no_of_dependent  22574 non-null  float64
 4   ClientGender            22574 non-null  object
 5   marital_status          22574 non-null  object
 6   totalincome             22574 non-null  int64
 7   loanexp                 22574 non-null  int64
 8   saving                  22574 non-null  int64
 9   totalexp                22574 non-null  int64
 10  financeamt              22574 non-null  int64
 11  period                  22574 non-null  int64
 12  emi                     22574 non-null  int64
 13  Interest                22574 non-null  float64
 14  riskfund                22574 non-null  int64
 15  irr                     22574 non-null  float64
 16  firstdateofinst         22574 non-null  object
 17  credit_status           22574 non-null  object
 18  equifax_score_retail    18360 non-null  float64
 19  new_to_credit           22574 non-null  int64
 20  borrower_outstanding    22220 non-null  float64
 21  dpd                     22574 non-null  int64
 22  lastpaiddate            22521 non-null  object
 23  last_month_paid         22521 non-null  object
 24  loan_end_date           22574 non-null  object
 25  total_emi_amt           22574 non-null  int64
 26  total_emi_paid          22521 non-null  float64
 27  outstanding_amt         22521 non-null  float64
dtypes: float64(7), int64(11), object(10)
memory usage: 5.0+ MB

In [ ]:
df[df['equifax_score_retail'].isna()]['new_to_credit'].unique()

array([1])

In [ ]:
df['equifax_score_retail'].fillna(0,inplace=True)

In [ ]:
df['equifax_score_retail'].isna().sum()

0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22574 entries, 0 to 22724
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              22574 non-null  object
 1   Disbdate                22574 non-null  object
 2   loanpurpose             22574 non-null  object
 3   client_no_of_dependent  22574 non-null  float64
 4   ClientGender            22574 non-null  object
 5   marital_status          22574 non-null  object
 6   totalincome             22574 non-null  int64
 7   loanexp                 22574 non-null  int64
 8   saving                  22574 non-null  int64
 9   totalexp                22574 non-null  int64
 10  financeamt              22574 non-null  int64
 11  period                  22574 non-null  int64
 12  emi                     22574 non-null  int64
 13  Interest                22574 non-null  float64
 14  riskfund                22574 non-null  int64
 15  irr                     22574 non-null  float64
 16  firstdateofinst         22574 non-null  object
 17  credit_status           22574 non-null  object
 18  equifax_score_retail    22574 non-null  float64
 19  new_to_credit           22574 non-null  int64
 20  borrower_outstanding    22220 non-null  float64
 21  dpd                     22574 non-null  int64
 22  lastpaiddate            22521 non-null  object
 23  last_month_paid         22521 non-null  object
 24  loan_end_date           22574 non-null  object
 25  total_emi_amt           22574 non-null  int64
 26  total_emi_paid          22521 non-null  float64
 27  outstanding_amt         22521 non-null  float64
dtypes: float64(7), int64(11), object(10)
memory usage: 5.0+ MB

In [ ]:
df[df['total_emi_paid'].isna()][['last_month_paid','lastpaiddate','total_emi_paid','outstanding_amt']]

      last_month_paid lastpaiddate  total_emi_paid  outstanding_amt
1378              NaN          NaN             NaN              NaN
1403              NaN          NaN             NaN              NaN
1470              NaN          NaN             NaN              NaN
1544              NaN          NaN             NaN              NaN
1573              NaN          NaN             NaN              NaN
1682              NaN          NaN             NaN              NaN
1701              NaN          NaN             NaN              NaN
1710              NaN          NaN             NaN              NaN
1878              NaN          NaN             NaN              NaN
2006              NaN          NaN             NaN              NaN
2016              NaN          NaN             NaN              NaN
2018              NaN          NaN             NaN              NaN
2162              NaN          NaN             NaN              NaN
2230              NaN          NaN             NaN              NaN
2286              NaN          NaN             NaN              NaN
2338              NaN          NaN             NaN              NaN
2383              NaN          NaN             NaN              NaN
2536              NaN          NaN             NaN              NaN
2567              NaN          NaN             NaN              NaN
2658              NaN          NaN             NaN              NaN
2659              NaN          NaN             NaN              NaN
2708              NaN          NaN             NaN              NaN
2725              NaN          NaN             NaN              NaN
2748              NaN          NaN             NaN              NaN
2788              NaN          NaN             NaN              NaN
2790              NaN          NaN             NaN              NaN
2797              NaN          NaN             NaN              NaN
2843              NaN          NaN             NaN              NaN
2859              NaN          NaN             NaN              NaN
2898              NaN          NaN             NaN              NaN
2900              NaN          NaN             NaN              NaN
2970              NaN          NaN             NaN              NaN
3417              NaN          NaN             NaN              NaN
3425              NaN          NaN             NaN              NaN
3554              NaN          NaN             NaN              NaN
3557              NaN          NaN             NaN              NaN
3623              NaN          NaN             NaN              NaN
4398              NaN          NaN             NaN              NaN
5492              NaN          NaN             NaN              NaN
5644              NaN          NaN             NaN              NaN
6880              NaN          NaN             NaN              NaN
7165              NaN          NaN             NaN              NaN
7571              NaN          NaN             NaN              NaN
8460              NaN          NaN             NaN              NaN
9081              NaN          NaN             NaN              NaN
10041             NaN          NaN             NaN              NaN
10199             NaN          NaN             NaN              NaN
10208             NaN          NaN             NaN              NaN
11259             NaN          NaN             NaN              NaN
11323             NaN          NaN             NaN              NaN
11629             NaN          NaN             NaN              NaN
12942             NaN          NaN             NaN              NaN
14001             NaN          NaN             NaN              NaN

In [ ]:
df['last_month_paid'].isna().sum()

53

In [ ]:
df.shape

(22574, 28)

In [ ]:
df.drop(df[df['last_month_paid'].isna()].index,inplace=True)

In [ ]:
df.shape

(22521, 28)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22521 entries, 0 to 22724
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              22521 non-null  object
 1   Disbdate                22521 non-null  object
 2   loanpurpose             22521 non-null  object
 3   client_no_of_dependent  22521 non-null  float64
 4   ClientGender            22521 non-null  object
 5   marital_status          22521 non-null  object
 6   totalincome             22521 non-null  int64
 7   loanexp                 22521 non-null  int64
 8   saving                  22521 non-null  int64
 9   totalexp                22521 non-null  int64
 10  financeamt              22521 non-null  int64
 11  period                  22521 non-null  int64
 12  emi                     22521 non-null  int64
 13  Interest                22521 non-null  float64
 14  riskfund                22521 non-null  int64
 15  irr                     22521 non-null  float64
 16  firstdateofinst         22521 non-null  object
 17  credit_status           22521 non-null  object
 18  equifax_score_retail    22521 non-null  float64
 19  new_to_credit           22521 non-null  int64
 20  borrower_outstanding    22167 non-null  float64
 21  dpd                     22521 non-null  int64
 22  lastpaiddate            22521 non-null  object
 23  last_month_paid         22521 non-null  object
 24  loan_end_date           22521 non-null  object
 25  total_emi_amt           22521 non-null  int64
 26  total_emi_paid          22521 non-null  float64
 27  outstanding_amt         22521 non-null  float64
dtypes: float64(7), int64(11), object(10)
memory usage: 5.0+ MB

In [ ]:
df[~df['borrower_outstanding'].isna()][['lastpaiddate','last_month_paid','outstanding_amt','borrower_outstanding']].head(50)

,lastpaiddate,last_month_paid,outstanding_amt,borrower_outstanding
0,2021-11-10 12:44:00.000,2021-11-10,54400.0,28587.0
1,2022-12-27 16:10:00.000,2022-12-27,34000.0,0.0
2,2022-08-19 10:13:00.000,2022-08-19,34100.0,0.0
3,2022-10-17 15:17:00.000,2022-10-17,12600.0,2402.0
4,2022-08-20 13:46:00.000,2022-08-20,470.0,0.0
5,2022-11-30 21:01:00.000,2022-11-30,0.0,33521.0
6,2023-03-02 20:56:00.000,2023-03-02,3750.0,97945.0
7,2023-01-29 11:08:00.000,2023-01-29,-3000.0,0.0
8,2022-12-27 13:09:00.000,2022-12-27,10600.0,0.0
9,2022-12-31 10:30:00.000,2022-12-31,0.0,0.0
10,2022-09-24 15:08:00.000,2022-09-24,13600.0,0.0
11,2022-04-24 10:40:00.000,2022-04-24,31500.0,14123.0
12,2022-01-18 15:57:00.000,2022-01-18,70.0,0.0
13,2021-04-05 03:26:00.000,2021-04-05,71400.0,0.0
14,2023-02-17 13:27:00.000,2023-02-17,10200.0,0.0
15,2023-02-13 13:38:00.000,2023-02-13,0.0,6699.0
16,2022-01-05 09:34:00.000,2022-01-05,0.0,7022.0
17,2022-08-30 11:48:00.000,2022-08-30,0.0,0.0
18,2023-01-23 07:25:00.000,2023-01-23,5600.0,0.0
19,2023-05-16 10:49:00.000,2023-05-16,-100.0,0.0
20,2022-12-30 10:22:00.000,2022-12-30,6800.0,0.0
21,2022-01-31 19:01:00.000,2022-01-31,-50.0,0.0
22,2023-01-25 10:51:00.000,2023-01-25,-6009.0,0.0
23,2023-03-07 10:33:00.000,2023-03-07,-3400.0,0.0
24,2023-02-24 09:58:00.000,2023-02-24,0.0,0.0
25,2022-12-31 17:35:00.000,2022-12-31,6000.0,0.0
26,2022-02-12 10:20:00.000,2022-02-12,0.0,39496.0
27,2023-09-04 15:56:00.000,2023-09-04,0.0,0.0
28,2022-05-10 08:09:00.000,2022-05-10,23700.0,90807.0
29,2022-03-29 11:47:00.000,2022-03-29,22050.0,5671.0
30,2023-09-21 19:42:00.000,2023-09-21,3999.0,375204.0
31,2023-02-10 14:26:00.000,2023-02-10,3400.0,0.0
32,2023-04-15 20:44:00.000,2023-04-15,2891.0,0.0
33,2023-03-26 14:45:00.000,2023-03-26,5100.0,31358.0
34,2022-02-14 15:10:00.000,2022-02-14,-2400.0,0.0
35,2022-12-16 11:10:00.000,2022-12-16,45000.0,21626.0
36,2022-06-03 02:39:00.000,2022-06-03,21191.0,0.0
37,2022-01-17 19:47:00.000,2022-01-17,-60.0,62366.0
38,2022-08-24 17:23:00.000,2022-08-24,2200.0,0.0
39,2022-11-12 13:19:00.000,2022-11-12,200.0,0.0
40,2022-01-05 18:30:00.000,2022-01-05,0.0,17221.0
41,2023-03-17 17:29:00.000,2023-03-17,-1400.0,0.0
43,2023-03-18 13:22:00.000,2023-03-18,15591.0,0.0
44,2022-08-29 13:00:00.000,2022-08-29,22400.0,0.0
45,2023-02-06 11:48:00.000,2023-02-06,-100.0,0.0
46,2022-12-30 13:00:00.000,2022-12-30,-4400.0,34782.0
47,2023-01-23 15:35:00.000,2023-01-23,-400.0,0.0
48,2022-09-21 14:22:00.000,2022-09-21,-2729.0,0.0
49,2022-02-14 22:24:00.000,2022-02-14,0.0,0.0
50,2022-03-25 12:22:00.000,2022-03-25,3700.0,0.0

In [ ]:
df.drop('borrower_outstanding',axis=1,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22521 entries, 0 to 22724
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              22521 non-null  object
 1   Disbdate                22521 non-null  object
 2   loanpurpose             22521 non-null  object
 3   client_no_of_dependent  22521 non-null  float64
 4   ClientGender            22521 non-null  object
 5   marital_status          22521 non-null  object
 6   totalincome             22521 non-null  int64
 7   loanexp                 22521 non-null  int64
 8   saving                  22521 non-null  int64
 9   totalexp                22521 non-null  int64
 10  financeamt              22521 non-null  int64
 11  period                  22521 non-null  int64
 12  emi                     22521 non-null  int64
 13  Interest                22521 non-null  float64
 14  riskfund                22521 non-null  int64
 15  irr                     22521 non-null  float64
 16  firstdateofinst         22521 non-null  object
 17  credit_status           22521 non-null  object
 18  equifax_score_retail    22521 non-null  float64
 19  new_to_credit           22521 non-null  int64
 20  dpd                     22521 non-null  int64
 21  lastpaiddate            22521 non-null  object
 22  last_month_paid         22521 non-null  object
 23  loan_end_date           22521 non-null  object
 24  total_emi_amt           22521 non-null  int64
 25  total_emi_paid          22521 non-null  float64
 26  outstanding_amt         22521 non-null  float64
dtypes: float64(6), int64(11), object(10)
memory usage: 4.8+ MB

In [ ]:
#changing data types

In [ ]:
df['Disbdate']=pd.to_datetime(df['Disbdate'])

In [ ]:
df['firstdateofinst']=pd.to_datetime(df['firstdateofinst'])
df['lastpaiddate']=pd.to_datetime(df['lastpaiddate'])
df['loan_end_date']=pd.to_datetime(df['loan_end_date'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22521 entries, 0 to 22724
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              22521 non-null  object
 1   Disbdate                22521 non-null  datetime64[ns]
 2   loanpurpose             22521 non-null  object
 3   client_no_of_dependent  22521 non-null  float64
 4   ClientGender            22521 non-null  object
 5   marital_status          22521 non-null  object
 6   totalincome             22521 non-null  int64
 7   loanexp                 22521 non-null  int64
 8   saving                  22521 non-null  int64
 9   totalexp                22521 non-null  int64
 10  financeamt              22521 non-null  int64
 11  period                  22521 non-null  int64
 12  emi                     22521 non-null  int64
 13  Interest                22521 non-null  float64
 14  riskfund                22521 non-null  int64
 15  irr                     22521 non-null  float64
 16  firstdateofinst         22521 non-null  datetime64[ns]
 17  credit_status           22521 non-null  object
 18  equifax_score_retail    22521 non-null  float64
 19  new_to_credit           22521 non-null  int64
 20  dpd                     22521 non-null  int64
 21  lastpaiddate            22521 non-null  datetime64[ns]
 22  last_month_paid         22521 non-null  object
 23  loan_end_date           22521 non-null  datetime64[ns]
 24  total_emi_amt           22521 non-null  int64
 25  total_emi_paid          22521 non-null  float64
 26  outstanding_amt         22521 non-null  float64
dtypes: datetime64[ns](4), float64(6), int64(11), object(6)
memory usage: 4.8+ MB

In [ ]:
pd.set_option('display.max_columns', None)
df.head(10)

,Unnamed: 0,Disbdate,loanpurpose,client_no_of_dependent,ClientGender,marital_status,totalincome,loanexp,saving,totalexp,financeamt,period,emi,Interest,riskfund,irr,firstdateofinst,credit_status,equifax_score_retail,new_to_credit,dpd,lastpaiddate,last_month_paid,loan_end_date,total_emi_amt,total_emi_paid,outstanding_amt
0,996324FB-7E09-44CD-BBC9-A74C2F3A20B6,2021-03-19,Buffalo Rearing Business,2.0,M,Married,24000,3625,0,7625,60000,24,3400,31.459,1409,0.026216,2021-05-02,2023-04-02 00:00:00.000,763.0,0,677,2021-11-10 12:44:00,2021-11-10,2023-04-02,81600,27200.0,54400.0
1,954C84F4-1BDB-4018-8B1A-8259735BF7E2,2021-08-02,Buffalo Rearing Business,11.0,M,Married,22000,5150,0,8750,60000,24,3400,31.459,1409,0.026216,2021-09-02,2023-08-02 00:00:00.000,685.0,0,342,2022-12-27 16:10:00,2022-12-27,2023-08-02,81600,47600.0,34000.0
2,4D962480-402A-4055-9680-DEC8AC0FDF9C,2022-08-16,Tailoring Business,4.0,M,Married,50000,8599,36401,13599,30000,12,3100,41.703,528,0.033380,2022-10-02,2023-09-02 00:00:00.000,-1.0,1,342,2022-08-19 10:13:00,2022-08-19,2023-09-02,37200,3100.0,34100.0
3,2CA9EFAD-53E8-4399-8B3E-6CF73C152B6A,2022-01-29,General Store Business,1.0,M,Married,59000,11666,45234,13766,30000,12,3150,44.980,528,0.037480,2022-03-02,2023-02-02 00:00:00.000,775.0,0,342,2022-10-17 15:17:00,2022-10-17,2023-02-02,37800,25200.0,12600.0
4,ABD0D374-D94B-4F66-93C2-190C92E9E2A4,2021-10-27,Cow Rearing Business,6.0,M,Married,24000,4860,0,14860,30000,12,3150,44.980,353,0.037480,2021-12-02,2022-11-02 00:00:00.000,0.0,1,29,2022-08-20 13:46:00,2022-08-20,2022-11-02,37800,37330.0,470.0
5,0CECF1B0-7560-4D94-A713-DFE6A0B66FE7,2021-10-12,Garage Workshop,4.0,M,Married,21500,3405,0,8405,40000,12,4150,42.520,470,0.035437,2021-12-02,2022-11-02 00:00:00.000,642.0,0,28,2022-11-30 21:01:00,2022-11-30,2022-11-02,49800,49800.0,0.0
6,D0796A35-2AF4-495C-B639-770B44E77537,2021-12-02,Salon (Barber Shop) Business,9.0,M,Married,20000,3840,0,7340,30000,12,3150,44.980,528,0.037480,2022-01-02,2022-12-02 00:00:00.000,755.0,0,150,2023-03-02 20:56:00,2023-03-02,2022-12-02,37800,34050.0,3750.0
7,3D095991-EB42-4B38-8199-D376AF39BBDF,2021-01-04,Milk Selling Business,3.0,M,Married,19000,4750,0,8750,50000,24,3000,37.790,1174,0.031491,2021-02-02,2023-01-02 00:00:00.000,0.0,1,30,2023-01-29 11:08:00,2023-01-29,2023-01-02,72000,75000.0,-3000.0
8,79BE2382-6FF8-4974-B285-EFD16B2CB080,2021-04-06,General Store Business,4.0,M,Married,24000,8940,0,12540,60000,24,3400,31.459,1409,0.026216,2021-05-02,2023-04-02 00:00:00.000,726.0,0,152,2022-12-27 13:09:00,2022-12-27,2023-04-02,81600,71000.0,10600.0
9,E69A4D35-37A3-4DAC-B8DC-A96BA7C5FB1C,2021-01-06,Buffalo Rearing Business,5.0,M,Married,22000,0,0,12000,60000,24,3400,31.459,1409,0.026216,2021-02-02,2023-01-02 00:00:00.000,0.0,1,30,2022-12-31 10:30:00,2022-12-31,2023-01-02,81600,81600.0,0.0

In [ ]:
df.columns

Index(['Unnamed: 0', 'Disbdate', 'loanpurpose', 'client_no_of_dependent',
       'ClientGender', 'marital_status', 'totalincome', 'loanexp', 'saving',
       'totalexp', 'financeamt', 'period', 'emi', 'Interest', 'riskfund',
       'irr', 'firstdateofinst', 'credit_status', 'equifax_score_retail',
       'new_to_credit', 'dpd', 'lastpaiddate', 'last_month_paid',
       'loan_end_date', 'total_emi_amt', 'total_emi_paid', 'outstanding_amt'],
      dtype='object')

In [ ]:
df['loanpurpose'].unique()

array(['Buffalo Rearing Business', 'Tailoring Business',
       'General Store Business', 'Cow Rearing Business',
       'Garage Workshop', 'Salon (Barber Shop) Business',
       'Milk Selling Business', 'Electrical Business', 'Cloth Business',
       'Goat Rearing Business', 'Other', 'Furniture Business',
       'Cosmetics Business', 'Sweet Shop Business', 'Photo Studio Shop',
       'Paper Plates (Dona) Business', 'Food Eatery (Dhaba)',
       'Tea Shop Business', 'Meat Business', 'Dairy and Livestock',
       'Mobile Shop Business', 'Services', 'Fruit & Vegetable Business',
       'Stationery Shop', 'Medical Store', 'Agriculture',
       'Band Baja Business', 'Footwear Business',
       'Printing Press Business', 'Atta Chakki (Flour grinding) Business',
       'Shuttering Business', 'Stone Work Business', 'Scrap Business',
       'Small Comercial Vehicle Business', 'Transport Business',
       'Toys/Gift Shop Business', 'Spare Parts Shop', 'Manufacturing ',
       'Eggs Selling Business', 'Hardware Shop',
       'Paint and Polishing Business', 'Pig Rearing Business',
       'Welding Business', 'Music and CD Shop Business',
       'Iron Press Business', 'Handicrafts Business',
       'Metal Works Business', 'Bangles Business',
       'Beauty Parlour Business', 'Cycle Repair Business',
       'Agriculture Business', 'Trading Business', 'Trading',
       'Crockery Business', 'Bag Business', 'Gas Supply Business',
       'Box Making  Business', 'Retail', 'Hand Press Machine Business',
       'Flowers Business', 'Wood Work Business', 'Poultry  Business',
       'Motor Vehicle Repair Business', 'Tent House Business',
       'Handloom Business', 'Fish Selling Business', 'Cyber Cafe',
       'Jewellery Shop', 'DJ Sound & Light Business',
       'Bakery/Caterering Shop', 'Construction Material Trading Business',
       'Agarbatti  Manufacturing Business', 'Optical Shop',
       'Furnace Business', 'Water Plant/ Supplies Services Business',
       'Rice Selling Business', 'Dry Cleanting/ Laundry Business',
       'Clinic shop', 'Vehicle Washing Business', 'Worship Material Shop',
       'Food Business', 'Farming (Animal Feed) Business ',
       'Two Wheeler Resale Business',
       'Food/Beverage Manufacturing Business'], dtype=object)

In [ ]:

category_mapping = {
    'Animal Rearing': ['Buffalo Rearing Business', 'Cow Rearing Business', 'Goat Rearing Business', 'Dairy and Livestock', 'Pig Rearing Business', 'Poultry  Business', 'Farming (Animal Feed) Business ','Milk Selling Business'],
    'Textile': ['Handloom Business','Tent House Business','Tailoring Business', 'Cloth Business'],
    'Automobile': ['Small Comercial Vehicle Business','Two Wheeler Resale Business','Motor Vehicle Repair Business','Cycle Repair Business','Small Comercial Vehicle Business', 'Transport Business', 'Garage Workshop'],
    'Grooming and Style': ['Beauty Parlour Business','Optical Shop','Footwear Business','Salon (Barber Shop) Business','Cosmetics Business'],
    'Furniture': ['Furniture Business'],
    'Food': [ 'Fish Selling Business','Rice Selling Business','Bakery/Caterering Shop','Eggs Selling Business','Atta Chakki (Flour grinding) Business','Fruit & Vegetable Business','Meat Business', 'Dairy and Livestock','Tea Shop Business','Food Eatery (Dhaba)', 'Bakery/Catering Shop', 'Food Business', 'Sweet Shop Business'],
    'Electronics': ['Mobile Shop Business',  'DJ Sound & Light Business', 'Electrical Business'],
    'Medical': ['Medical Store','Clinic shop'],
    'Agriculture': ['Agriculture Business','Agriculture'],
    'Entertainment': ['Photo Studio Shop', 'Tent House Business','Music and CD Shop Business', 'Cyber Cafe', 'Band Baja Business'],
    'Hardware': ['Spare Parts Shop','Metal Works Business','Hardware Shop', 'Scrap Business','Shuttering Business'],
    'Decoration': ['Flowers Business'],
    'Accessories': ['Bangles Business','Stationery Shop','Jewellery Shop','Toys/Gift Shop Business',  'Bag Business'],
    'Construction': ['Furnace Business', 'Water Plant/ Supplies Services Business','Construction Material Trading Business','Gas Supply Business','Iron Press Business','Stone Work Business'],
    'Others': ['Trading', 'Retail','Handicrafts Business','Worship Material Shop', 'Handicrafts Business','Paper Plates (Dona) Business','Other', 'Retail','General Store Business'],
    'Services':['Hand Press Machine Business','Services','Dry Cleanting/ Laundry Business','Trading Business',  'Welding Business', 'Printing Press Business','Vehicle Washing Business'],
'Manufacturing':['Food/Beverage Manufacturing Business','Worship Material Shop','Agarbatti  Manufacturing Business','Wood Work Business','Box Making  Business','Crockery Business']
}

In [ ]:
df['business_category'] = df['loanpurpose'].apply(lambda x: next((category for category, purposes in category_mapping.items() if x in purposes), 'Others'))

In [ ]:
df['business_category'].value_counts()

Animal Rearing        9656
Textile               6246
Others                2641
Food                  1145
Grooming and Style     675
Electronics            439
Hardware               366
Services               344
Automobile             220
Furniture              186
Medical                164
Accessories            141
Entertainment          127
Manufacturing           58
Agriculture             56
Construction            51
Decoration               6
Name: business_category, dtype: int64

In [ ]:
df['business_category']=df['business_category'].astype('category')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22521 entries, 0 to 22724
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              22521 non-null  object
 1   Disbdate                22521 non-null  datetime64[ns]
 2   loanpurpose             22521 non-null  object
 3   client_no_of_dependent  22521 non-null  float64
 4   ClientGender            22521 non-null  object
 5   marital_status          22521 non-null  object
 6   totalincome             22521 non-null  int64
 7   loanexp                 22521 non-null  int64
 8   saving                  22521 non-null  int64
 9   totalexp                22521 non-null  int64
 10  financeamt              22521 non-null  int64
 11  period                  22521 non-null  int64
 12  emi                     22521 non-null  int64
 13  Interest                22521 non-null  float64
 14  riskfund                22521 non-null  int64
 15  irr                     22521 non-null  float64
 16  firstdateofinst         22521 non-null  datetime64[ns]
 17  credit_status           22521 non-null  object
 18  equifax_score_retail    22521 non-null  float64
 19  new_to_credit           22521 non-null  int64
 20  dpd                     22521 non-null  int64
 21  lastpaiddate            22521 non-null  datetime64[ns]
 22  last_month_paid         22521 non-null  object
 23  loan_end_date           22521 non-null  datetime64[ns]
 24  total_emi_amt           22521 non-null  int64
 25  total_emi_paid          22521 non-null  float64
 26  outstanding_amt         22521 non-null  float64
 27  business_category       22521 non-null  category
dtypes: category(1), datetime64[ns](4), float64(6), int64(11), object(6)
memory usage: 4.8+ MB

In [ ]:
df['id']=range(10001,10001+len(df))

In [ ]:
df = df[['id'] + [col for col in df if col != 'id']]

In [ ]:
df.head()

,id,Unnamed: 0,Disbdate,loanpurpose,client_no_of_dependent,ClientGender,marital_status,totalincome,loanexp,saving,totalexp,financeamt,period,emi,Interest,riskfund,irr,firstdateofinst,credit_status,equifax_score_retail,new_to_credit,dpd,lastpaiddate,last_month_paid,loan_end_date,total_emi_amt,total_emi_paid,outstanding_amt,business_category
0,10001,996324FB-7E09-44CD-BBC9-A74C2F3A20B6,2021-03-19,Buffalo Rearing Business,2.0,M,Married,24000,3625,0,7625,60000,24,3400,31.459,1409,0.026216,2021-05-02,2023-04-02 00:00:00.000,763.0,0,677,2021-11-10 12:44:00,2021-11-10,2023-04-02,81600,27200.0,54400.0,Animal Rearing
1,10002,954C84F4-1BDB-4018-8B1A-8259735BF7E2,2021-08-02,Buffalo Rearing Business,11.0,M,Married,22000,5150,0,8750,60000,24,3400,31.459,1409,0.026216,2021-09-02,2023-08-02 00:00:00.000,685.0,0,342,2022-12-27 16:10:00,2022-12-27,2023-08-02,81600,47600.0,34000.0,Animal Rearing
2,10003,4D962480-402A-4055-9680-DEC8AC0FDF9C,2022-08-16,Tailoring Business,4.0,M,Married,50000,8599,36401,13599,30000,12,3100,41.703,528,0.033380,2022-10-02,2023-09-02 00:00:00.000,-1.0,1,342,2022-08-19 10:13:00,2022-08-19,2023-09-02,37200,3100.0,34100.0,Textile
3,10004,2CA9EFAD-53E8-4399-8B3E-6CF73C152B6A,2022-01-29,General Store Business,1.0,M,Married,59000,11666,45234,13766,30000,12,3150,44.980,528,0.037480,2022-03-02,2023-02-02 00:00:00.000,775.0,0,342,2022-10-17 15:17:00,2022-10-17,2023-02-02,37800,25200.0,12600.0,Others
4,10005,ABD0D374-D94B-4F66-93C2-190C92E9E2A4,2021-10-27,Cow Rearing Business,6.0,M,Married,24000,4860,0,14860,30000,12,3150,44.980,353,0.037480,2021-12-02,2022-11-02 00:00:00.000,0.0,1,29,2022-08-20 13:46:00,2022-08-20,2022-11-02,37800,37330.0,470.0,Animal Rearing

In [ ]:
df.drop(columns=['Unnamed: 0','credit_status'],axis=1,inplace=True)

<ipython-input-193-ce6c747aa029>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Unnamed: 0','credit_status'],axis=1,inplace=True)

In [ ]:
df.head()

,id,Disbdate,loanpurpose,client_no_of_dependent,ClientGender,marital_status,totalincome,loanexp,saving,totalexp,financeamt,period,emi,Interest,riskfund,irr,firstdateofinst,equifax_score_retail,new_to_credit,dpd,lastpaiddate,last_month_paid,loan_end_date,total_emi_amt,total_emi_paid,outstanding_amt,business_category
0,10001,2021-03-19,Buffalo Rearing Business,2.0,M,Married,24000,3625,0,7625,60000,24,3400,31.459,1409,0.026216,2021-05-02,763.0,0,677,2021-11-10 12:44:00,2021-11-10,2023-04-02,81600,27200.0,54400.0,Animal Rearing
1,10002,2021-08-02,Buffalo Rearing Business,11.0,M,Married,22000,5150,0,8750,60000,24,3400,31.459,1409,0.026216,2021-09-02,685.0,0,342,2022-12-27 16:10:00,2022-12-27,2023-08-02,81600,47600.0,34000.0,Animal Rearing
2,10003,2022-08-16,Tailoring Business,4.0,M,Married,50000,8599,36401,13599,30000,12,3100,41.703,528,0.033380,2022-10-02,-1.0,1,342,2022-08-19 10:13:00,2022-08-19,2023-09-02,37200,3100.0,34100.0,Textile
3,10004,2022-01-29,General Store Business,1.0,M,Married,59000,11666,45234,13766,30000,12,3150,44.980,528,0.037480,2022-03-02,775.0,0,342,2022-10-17 15:17:00,2022-10-17,2023-02-02,37800,25200.0,12600.0,Others
4,10005,2021-10-27,Cow Rearing Business,6.0,M,Married,24000,4860,0,14860,30000,12,3150,44.980,353,0.037480,2021-12-02,0.0,1,29,2022-08-20 13:46:00,2022-08-20,2022-11-02,37800,37330.0,470.0,Animal Rearing

In [ ]:
#creating column to flag defaulter
df['defaulter_flag'] = df['dpd'].apply(lambda x: 1 if x>90 else 0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22521 entries, 0 to 22724
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      22521 non-null  int64
 1   Disbdate                22521 non-null  datetime64[ns]
 2   loanpurpose             22521 non-null  object
 3   client_no_of_dependent  22521 non-null  float64
 4   ClientGender            22521 non-null  object
 5   marital_status          22521 non-null  object
 6   totalincome             22521 non-null  int64
 7   loanexp                 22521 non-null  int64
 8   saving                  22521 non-null  int64
 9   totalexp                22521 non-null  int64
 10  financeamt              22521 non-null  int64
 11  period                  22521 non-null  int64
 12  emi                     22521 non-null  int64
 13  Interest                22521 non-null  float64
 14  riskfund                22521 non-null  int64
 15  irr                     22521 non-null  float64
 16  firstdateofinst         22521 non-null  datetime64[ns]
 17  equifax_score_retail    22521 non-null  float64
 18  new_to_credit           22521 non-null  int64
 19  dpd                     22521 non-null  int64
 20  lastpaiddate            22521 non-null  datetime64[ns]
 21  last_month_paid         22521 non-null  object
 22  loan_end_date           22521 non-null  datetime64[ns]
 23  total_emi_amt           22521 non-null  int64
 24  total_emi_paid          22521 non-null  float64
 25  outstanding_amt         22521 non-null  float64
 26  business_category       22521 non-null  category
 27  defaulter_flag          22521 non-null  int64
dtypes: category(1), datetime64[ns](4), float64(6), int64(13), object(4)
memory usage: 4.8+ MB

In [ ]:
df['ClientGender']=df['ClientGender'].astype('category')
df['marital_status']=df['marital_status'].astype('category')
df['last_month_paid']=pd.to_datetime(df['last_month_paid'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22521 entries, 0 to 22724
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      22521 non-null  int64
 1   Disbdate                22521 non-null  datetime64[ns]
 2   loanpurpose             22521 non-null  object
 3   client_no_of_dependent  22521 non-null  float64
 4   ClientGender            22521 non-null  category
 5   marital_status          22521 non-null  category
 6   totalincome             22521 non-null  int64
 7   loanexp                 22521 non-null  int64
 8   saving                  22521 non-null  int64
 9   totalexp                22521 non-null  int64
 10  financeamt              22521 non-null  int64
 11  period                  22521 non-null  int64
 12  emi                     22521 non-null  int64
 13  Interest                22521 non-null  float64
 14  riskfund                22521 non-null  int64
 15  irr                     22521 non-null  float64
 16  firstdateofinst         22521 non-null  datetime64[ns]
 17  equifax_score_retail    22521 non-null  float64
 18  new_to_credit           22521 non-null  int64
 19  dpd                     22521 non-null  int64
 20  lastpaiddate            22521 non-null  datetime64[ns]
 21  last_month_paid         22521 non-null  datetime64[ns]
 22  loan_end_date           22521 non-null  datetime64[ns]
 23  total_emi_amt           22521 non-null  int64
 24  total_emi_paid          22521 non-null  float64
 25  outstanding_amt         22521 non-null  float64
 26  business_category       22521 non-null  category
 27  defaulter_flag          22521 non-null  int64
dtypes: category(3), datetime64[ns](5), float64(6), int64(13), object(1)
memory usage: 4.5+ MB

In [ ]:
df.to_csv('Cleaned_data.csv',index=False)

In [ ]:
df1=pd.read_csv('Cleaned_data.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22521 entries, 0 to 22520
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      22521 non-null  int64
 1   Disbdate                22521 non-null  object
 2   loanpurpose             22521 non-null  object
 3   client_no_of_dependent  22521 non-null  float64
 4   ClientGender            22521 non-null  object
 5   marital_status          22521 non-null  object
 6   totalincome             22521 non-null  int64
 7   loanexp                 22521 non-null  int64
 8   saving                  22521 non-null  int64
 9   totalexp                22521 non-null  int64
 10  financeamt              22521 non-null  int64
 11  period                  22521 non-null  int64
 12  emi                     22521 non-null  int64
 13  Interest                22521 non-null  float64
 14  riskfund                22521 non-null  int64
 15  irr                     22521 non-null  float64
 16  firstdateofinst         22521 non-null  object
 17  equifax_score_retail    22521 non-null  float64
 18  new_to_credit           22521 non-null  int64
 19  dpd                     22521 non-null  int64
 20  lastpaiddate            22521 non-null  object
 21  last_month_paid         22521 non-null  object
 22  loan_end_date           22521 non-null  object
 23  total_emi_amt           22521 non-null  int64
 24  total_emi_paid          22521 non-null  float64
 25  outstanding_amt         22521 non-null  float64
 26  business_category       22521 non-null  object
 27  defaulter_flag          22521 non-null  int64
dtypes: float64(6), int64(13), object(9)
memory usage: 4.8+ MB